<!DOCTYPE html>
<html lang="en">
<head>
  <script
    src="https://kit.fontawesome.com/978d2e326d.js"
    crossorigin="anonymous"
  ></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header>
    <div class="header">
    <div class="logo">
      <img src="./layout-photoshop/logo.png" alt="">
    </div>
    <div class="menu">
      <div class="menu-top">
        <div class="menu-top-list">
          <ul>
            <li>Bán hàng cùng SBS</li>
            <li>Chăm sóc khách hàng</li>
            <li>Kiểm tra đơn hàng</li>
            <li>chế độ tối</li>
            <li>Thay đổi ngôn ngữ</li>
          </ul>
        </div>
        <div class="menu-top-login">
          <p>Đăng Nhập <i class="fas fa-user"></i></p>
        </div>
      </div>
      <div class="menu-bottom">
        <div class="menu-bottom-category">
          <p><i class="fas fa-align-right"></i> Danh Mục</p>
        </div>
        <div class="menu-bottom-search">
          <input type="text" value="Tìm kiếm sản phẩm, danh mục, đại lí..."><i class="fas fa-search"></i></input>
        </div>
        <div class="menu-bottom-cart"><i class="fas fa-shopping-cart"></i></div>
      </div>
    </div>
  </div>
  </header>
  <main>
    <div class="banner">
      <div class="banner-item">
      <div class="banner-left"></div>
      <div class="banner-right"></div>
    </div>
    </div>
  </main>
  <footer>
    <div class="footer">
      <div class="footer-item">
        <div class="footer-item-highlights">
          <div class="footer-content">
            <h2>Tìm kiếm nhiều nhất</h2>
          </div>
          <div class="footer-content-menu">
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-shopping-bag"></i></div>
              <div class="item-content">Thời Trang - Phụ Kiện</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-mobile-alt"></i></div>
              <div class="item-content">Thiết bị di động</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-laptop"></i></div>
              <div class="item-content">Laptop - Thiết bị it</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-headphones-alt"></i></div>
              <div class="item-content">Phụ kiện - Thiết bị số</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-male"></i></div>
              <div class="item-content">Mẹ và bé</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>